---
import ContactForm from '../components/ContactForm';
import Footer from '../components/Footer';
import Loader from '../components/Loader';
import { ScrollDown } from '../components/Scroll';
import { BehanceIcon, InstagramIcon, LinkedInIcon, MediumIcon } from '../components/SocialIcon';
import { SectionTag } from '../components/Typography';
import Work from '../components/Work';
import Base from '../layouts/Base.astro';
import Section from '../layouts/Section.astro';
---

<Base className='loading'>
  <Loader client:load />

  <!-- Banner -->
  <Section className='flex min-h-screen'>
    <div class='hidden sm:w-10 lg:w-28 sm:flex flex-col justify-center items-center gap-6'>
      <BehanceIcon />
      <InstagramIcon />
      <LinkedInIcon />
      <MediumIcon />
    </div>
    <div class='grow flex flex-col gap-4 px-8 sm:px-0'>
      <div class='text-2xl pb-2 font-extrabold border-b-2 border-primary w-min'>A</div>
      <div class='bg-surface flex flex-col justify-center grow items-center p-8'>
        <div class='max-w-4xl flex flex-col gap-8 sm:gap-12 relative'>
          <SectionTag>hi, welcome to my portfolio</SectionTag>
          <h1 class="text-2xl sm:text-3xl font-['Poppins'] font-medium">
            I’m Angel Leijendekker, a User Interface Designer with human - centered approach based in PH.
          </h1>
          <div class='text-on-surface font-extralight text-sm'>
            I’m a designer with unlimited curiosity and desire to make meaningful products and experiences. I also like
            creating art using CSS for Byorken and promoting tech for social good at Safe Space. I’m currently looking
            for full - time opportunities.
          </div>
        </div>
      </div>
      <div class='sm:hidden flex justify-center'>
        <ScrollDown />
      </div>
    </div>
    <div class='hidden sm:w-10 lg:w-28 sm:flex flex-col justify-end'>
      <ScrollDown />
    </div>
  </Section>

  <!-- Introduction -->
  <Section className='flex justify-center'>
    <div class='max-w-4xl flex flex-col sm:flex-row px-8 lg:px-0'>
      <img class='w-3/4 sm:w-1/2 object-cover self-center' src='/images/book-reading.jpg' alt='Book reading' />
      <div class='flex flex-col justify-center relative sm:pl-10 grow md:shrink-[10] gap-4'>
        <h1 class="text-3xl font-['Poppins'] font-medium md:whitespace-nowrap mt-14 sm:mt-0 sm:p-8 bg-white sm:-ml-20">
          Nice to meet you.
        </h1>
        <div class='text-on-surface text-xs leading-relaxed'>
          I enter the world of designing with the goal to create better user interfaces and experiences for all people.
          I'd also like to pursue a Masters Degree in Human - Technology Interaction in the future. When I'm not
          designing, you can find me doodling, reading some novels or playing video games.
        </div>
      </div>
    </div>
  </Section>

  <!-- Featured projects -->
  <Section className='flex flex-col items-center'>
    <div class='max-w-6xl flex flex-col gap-12 px-8 xl:px-0'>
      <SectionTag>explore some of my featured projects</SectionTag>
      <div class='grid md:grid-cols-2'>
        <Work
          name='together'
          title='Together - A volunteering app'
          description='Mobile, UI, UX, Concept | Case Study'
        />
        <Work name='fiora' title='Fiora - Flower shop website' description='Web, UI, Research | Case Study' />
        <Work name='aegyo' title='Aegyo Cafe - Coffee shop app' description='Mobile, UI, UX | Case Study' />
        <Work
          name='h2p'
          title='H2P - Health care app'
          description='UI, UX, Mobile, Web, Dashboard (under NDA)'
          disabled={true}
        />
      </div>
    </div>
  </Section>

  <!-- Contact -->
  <Section className='flex justify-center'>
    <div class='max-w-6xl flex flex-col gap-12 grow px-8 xl:px-0'>
      <SectionTag>have a project in mind?</SectionTag>
      <h1 class="text-3xl font-['Poppins'] font-medium">Let's create something together!</h1>
      <ContactForm client:load />
    </div>
  </Section>

  <!-- Footer -->
  <Footer />
</Base>
