---
import '../styles/global.css';

export interface Props {
  title?: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='theme-color' content='#000000' />
    <link rel='icon' type='image/png' sizes='96x96' href='/favicon.png' />
    <title>{title ? `${title} - Angel` : 'Angel'}</title>
  </head>
  <body class={className || ''}>
    <slot />
  </body>
</html>

<script>
  if ('scrollRestoration' in history) {
    history.scrollRestoration = 'manual';
  }
</script>
