---
import '../styles/global.css';

export interface Props {
  title?: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='theme-color' content='#000000' />
    <link rel='icon' type='image/png' sizes='96x96' href='/favicon.png' />
    <title>{title ? `${title} - Angel` : 'Angel'}</title>
  </head>
  <body class={className || ''}>
    <slot />

    <div id='dot'></div>
    <div id='circle'></div>
  </body>
</html>

<script>
  if ('scrollRestoration' in history) {
    history.scrollRestoration = 'manual';
  }

  const isMobile =
    /Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(
      navigator.userAgent
    );

  (function () {
    const dot = document.getElementById('dot');
    const circle = document.getElementById('circle');

    if (isMobile) {
      if (dot) {
        dot.hidden = true;
      }

      if (circle) {
        circle.hidden = true;
      }
    }

    const speed = 6;
    let endX = 0;
    let endY = 0;
    let x = 0;
    let y = 0;

    document.onmousemove = (event) => {
      endX = event.pageX;
      endY = event.pageY;

      if (dot) {
        dot.style.top = endY - 6 + 'px';
        dot.style.left = endX - 6 + 'px';
      }
    };

    function animateCircle() {
      requestAnimationFrame(animateCircle);

      x += (endX - x) / speed;
      y += (endY - y) / speed;

      if (circle) {
        circle.style.top = y - 32 + 'px';
        circle.style.left = x - 32 + 'px';
      }
    }

    animateCircle();
  })();
</script>
